<div class="text-center">
    <h2 class="text-uppercase" id="texto">Alejandro Pérez</h2>
    <p>Estudiante de ingeniería de sistemas en la Universidad de Antioquia, ciudad de Medellín. Actualmente cursando el 8vo semestre, de los cuales se
        han logrado realizar diferentes retos personales para aprender un poco más cada día.
    </p>
    <h2 class="text-uppercase" id="texto">Lenguajes y framework que domino</h2>
    <ul>
        <li>Javascript</li>
        <li>Python</li>
        <li>Java</li>
        <li>Angular</li>
        <li>NodeJS</li>
        <li>MongoDB</li>
    </ul>
</div>

